body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eef5f8;
    font-size: 20px;
}

header.header {
    display: flex;
    align-items: center;
}

p {
    color: darkcyan;
}


nav.nav {
    display: flex;
    margin-left: 30px;
    width: 200px;
}

nav.nav li {
    display: flex center;
    color: darkcyan;
    float: left;
    justify-content:center;
    text-align:center;
    padding: 10px 10px;
    list-style: none;
    margin-top: 20px;
    text-decoration: none;

}

.nav-list {
    top:0;
    position: absolute;
    list-style: none;
    margin: 0;

}
 
.top-page {
    background-color: white !important;
    width: 1250px;
    border-radius: 25px;
}

.Logo {
    float: left;
}


.Benefices{
    color: darkcyan;
    margin-left: 50px;
    top: 20px;
}

.titre {
    text-align: center;
    color: darkcyan;
    float: none;
    font-size: 40px !important;
}

.Robot {
    float: center;
    align-items: center;
    width: 800px;
    margin:auto;
    
}

.Explications {
    display:contents;
    margin: auto;
    line-height: 30px;
    justify-content:center;
    width: 1000px;
    height: 800px;
}

.Utilisation {
    display: flex;
    justify-content: space-around; 
    float: left;
    align-items: stretch;
    margin-top: 70px;
    line-height: 30px;
    padding-left: 40px;
}

.end-page {
    float: left;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.video {
    display: flex;
    justify-content: center;
}

.prix {
    align-items: center;
    display: flex;
}

.button {
    width: 225px;
    text-decoration: none;
    background-color:#5bc0be ;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 30px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    cursor: pointer;
    color: darkcyan;
    margin-left: 90px;
    box-shadow: 6px 6px 0px #0b5a57;
}

.bag{
    margin-left: 150px;
}

@media screen {
    
}